# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
documentlayout.json
documentlayout.backup.json

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
packages/

# Others
*.vscode/

# Visual Studio cache files
*.dtbcache.v2
